<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~  Copyright (c) 2019-2022, somewhere (somewhere0813@gmail.com).
  ~  <p>
  ~  Licensed under the GNU Lesser General Public License 3.0 (the "License");
  ~  you may not use this file except in compliance with the License.
  ~  You may obtain a copy of the License at
  ~  <p>
  ~ https://www.gnu.org/licenses/lgpl.html
  ~  <p>
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.albedo.java.modules.sys.repository.LogLoginRepository">
	<select id="getTotalLoginPv" resultType="long">
		select count(1)
		from sys_log_login
	</select>

	<select id="getTodayLoginPv" resultType="long" parameterType="map">
		select count(1)
		from sys_log_login
		where login_date = #{today}
	</select>

	<select id="getTotalLoginIv" resultType="long">
		select count(distinct (ip_address))
		from sys_log_login
	</select>

	<select id="getTodayLoginIv" resultType="long" parameterType="map">
		select count(distinct (ip_address))
		from sys_log_login
		where login_date = #{today}
	</select>

	<select id="findLastTenDaysVisitCount" resultType="map" parameterType="map">
		select login_date as loginDate , count(1) `count` from
		( select id, login_date from sys_log_login where created_date >= #{tenDays}
		<if test="username != null and username != ''">
			and username = #{username}
		</if>
		) as l group by login_date
	</select>

	<select id="findByBrowser" resultType="map">
		select browser, count(id) `count`
		from sys_log_login
		group by browser
	</select>
	<select id="findByOperatingSystem" resultType="map">
		select os, count(id) `count`
		from sys_log_login
		group by os
	</select>

	<delete id="clearLog" parameterType="map">
		delete from sys_log_login
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="clearBeforeTime != null">
				AND created_date <![CDATA[ <= ]]> #{clearBeforeTime}
			</if>
			<if test="clearBeforeNum  != null">
				AND id NOT in(
				SELECT id FROM(
				SELECT id FROM sys_log_login AS t
				ORDER BY t.created_date desc LIMIT 0, #{clearBeforeNum}
				) t1
				)
			</if>
		</trim>
	</delete>
</mapper>
