<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
				http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
				http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd"
       default-lazy-init="false">

    <!-- fixedAddress -->
    <!--
    <bean id="fixedAddressProvider" class="com.yangyang.thrift.rpc.zookeeper.FixedAddressProvider">
         <property name="service" value="com.yangyang.thrift.rpc.demo.EchoSerivce" />
         <property name="serverAddress" value="192.168.36.215:9001:1,192.168.36.215:9002:2,192.168.36.215:9003:3" />
    </bean>
    <bean id="echoSerivce" class="com.yangyang.thrift.rpc.ThriftServiceClientProxyFactory">
        <property name="maxActive" value="5" />
        <property name="idleTime" value="10000" />
        <property name="serverAddressProvider" ref="fixedAddressProvider" />
    </bean>
   -->
    <!-- zookeeper   -->
    <bean id="thriftZookeeper" class="com.yangyang.thrift.rpc.zookeeper.ZookeeperFactory"
          destroy-method="close">
        <property name="zkHosts" value="localhost:2181,localhost:2182,localhost:2183" />
        <property name="namespace" value="com.yangyang.thrift.rpc.demo" />
        <property name="connectionTimeout" value="3000" />
        <property name="sessionTimeout" value="3000" />
        <property name="singleton" value="true" />
    </bean>
    <bean id="echoSerivce" class="com.yangyang.thrift.rpc.ThriftServiceClientProxyFactory" destroy-method="close">
        <property name="maxActive" value="5" />
        <property name="idleTime" value="1800000" />
        <property name="serverAddressProvider">
            <bean class="com.yangyang.thrift.rpc.zookeeper.ThriftServerAddressProviderZookeeper">
                <property name="service" value="com.yangyang.thrift.rpc.demo.EchoSerivce" />
                <property name="version" value="1.0.0" />
                <property name="zkClient" ref="thriftZookeeper" />
            </bean>
        </property>
    </bean>
</beans>