<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.albedo.java.modules.sys.domain.Module">

    <sql id="moduleColumns">
        a.id_ AS id,
        a.name_ AS name,
        a.parent_id AS parentId,
        p.name_ AS "parent.name",
        a.parent_ids AS parentIds,
        a.type_ AS type,
        a.permission_ AS permission,
        a.sort_ AS sort,
        a.target_ AS target,
        a.url_ AS url,
        a.request_method AS requestMethod,
        a.status_ AS STATUS,
        a.icon_cls AS iconCls,
        a.show_type AS showType,
        a.description_ AS description,
        a.version_ AS version,
        a.is_leaf AS isLeaf,
        a.created_by AS createdBy,
        a.created_date AS createdDate,
        a.last_modified_by AS lastModifiedBy,
        a.last_modified_date AS lastModifiedDate
    </sql>

    <select id="findAllAuthByUser" parameterType="com.albedo.java.modules.sys.domain.User"
            resultType="com.albedo.java.modules.sys.domain.Module">
        SELECT DISTINCT
        <include refid="moduleColumns"/>
        FROM
        sys_module_t a LEFT JOIN sys_module_t p on p.id_=a.parent_id
        LEFT JOIN sys_role_module_t rm on rm.module_id=a.id_
        LEFT JOIN sys_role_t r on r.id_=rm.role_id
        LEFT JOIN sys_user_role_t ur on ur.role_id=r.id_
        LEFT JOIN sys_user_t u ON u.id_=ur.user_id and u.id_ = #{user.id}
        WHERE a.status_ = #{user.FLAG_NORMAL} AND r.status_ = #{user.FLAG_NORMAL} AND u.status_ = #{user.FLAG_NORMAL}
        ORDER BY a.sort_
    </select>

</mapper>