<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.albedo.java.modules.sys.repository.ModuleRepository">

	<sql id="moduleColumns">
		id_ AS id,
		name_ AS name,
		parent_id AS parentId,
		p.name AS "parent.name"
		parent_ids AS parentIds,
		type_ AS type,
		permission_ AS permission,
		sort_ AS sort,
		target_ AS target,
		url_ AS url,
		request_method AS requestMethod,
		status_ AS STATUS,
		icon_cls AS iconCls,
		show_type AS showType,
		description_ AS description,
		version_ AS version,
		is_leaf AS isLeaf,
		created_by AS createdBy,
		created_date AS createdDate,
		last_modified_by AS lastModifiedBy,
		last_modified_date AS lastModifiedDate
	</sql>

	<select id="findByUserId" resultType="com.albedo.java.modules.sys.domain.Module">
		SELECT DISTINCT
		<include refid="moduleColumns"/>
		FROM
		sys_module_t a LEFT JOIN sys_module_t p on p.id_=a.parent_id
		LEFT JOIN sys_role_module_t rm on rm.module_id=a.id_
		LEFT JOIN sys_role_t r on r.id_=rm.role_id
		LEFT JOIN sys_user_role_t ur on ur.role_id=r.id_
		LEFT JOIN sys_user_t u ON u.id_=ur.user_id and u.id_ #{userId}
		WHERE a.status_ = #{FLAG_NORMAL} AND r.status_ = #{FLAG_NORMAL} AND u.status_ = #{FLAG_NORMAL}
		ORDER BY a.sort
	</select>
	
</mapper>