<?xml version="1.0" encoding="utf-8"?>
<!--	-->
<config codeUiPath="../../albedo-ui/">
	<!-- 生成分类 -->
	<category>
		<category val="curd" name="增删改查（单表）">
			<template>category-ref:curd_back</template>
			<template>category-ref:curd_front</template>
		</category>
		<category val="curd_back" name="增删改查（单表）- 后端">
			<template>curd/resource.xml</template>
			<template>curd/resourceIntTest.xml</template>
			<template>category-ref:service</template>
		</category>
		<category val="curd_front" name="增删改查（单表）- 前端">
			<template>curd/viewIndex.xml</template>
			<template>curd/viewService.xml</template>
		</category>
		<!--<category val="curd_modal" name="增删改查（单表）弹窗">-->
		<!--<template>curd/web.xml</template>-->
		<!--<template>curd/resourceIntTest.xml</template>-->
		<!--<template>category-ref:service</template>-->
		<!--<template>curd/viewModelTs.xml</template>-->
		<!--<template>curd/viewServiceTs.xml</template>-->
		<!--<template>curd/viewComponentHtml.xml</template>-->
		<!--<template>curd/viewComponentTs.xml</template>-->
		<!--<template>curd/viewModuleTs.xml</template>-->
		<!--</category>-->
		<!--<category val="curd_many" name="增删改查（一对多）">-->
		<!--<template>curd/web.xml</template>-->
		<!--<template>service/serviceMany.xml</template>-->
		<!--<template>category-ref:entity</template>-->
		<!--<template>curd/viewFormMany.xml</template>-->
		<!--<template>curd/viewList.xml</template>-->
		<!--<childTable>-->
		<!--<template>category-ref:service</template>-->
		<!--</childTable>-->
		<!--</category>-->
		<category val="service" name="仅持久层（service/entity）">
			<template>service/repository.xml</template>
			<template>service/service.xml</template>
			<template>service/serviceImpl.xml</template>
			<template>category-ref:entity</template>
		</category>
		<category val="entity" name="数据层（entity）">
			<template>entity/dto/entityDto.xml</template>
			<template>entity/dto/entityQueryCriteria.xml</template>
			<!--			<template>entity/entityId.xml</template>-->
			<template>entity/entity.xml</template>
		</category>
		<category val="treeTable" name="树结构表（一体）">
			<template>category-ref:treeTable_back</template>
			<template>category-ref:treeTable_front</template>
		</category>

		<category val="treeTable_back" name="树结构表（一体）- 后端">
			<template>treetable/resource.xml</template>
			<template>treetable/resourceIntTest.xml</template>
			<template>treetable/repository.xml</template>
			<template>treetable/service.xml</template>
			<template>treetable/serviceImpl.xml</template>
			<template>treetable/dto/entityDto.xml</template>
			<template>treetable/dto/entityQueryCriteria.xml</template>
			<template>treetable/vo/entityVo.xml</template>
			<template>treetable/entity.xml</template>
		</category>
		<category val="treeTable_front" name="树结构表（一体）- 前端">
			<template>treetable/viewIndex.xml</template>
			<template>treetable/viewService.xml</template>
		</category>
	</category>
	<!-- java类型 -->
	<javaType>
		<dict val="String" name="String"/>
		<dict val="Long" name="Long"/>
		<dict val="Integer" name="Integer"/>
		<dict val="Double" name="Double"/>
		<dict val="java.util.Date" name="Date"/>
		<!--		<dict val="com.albedo.java.modules.sys.domain.User" name="User"/>-->
		<!--		<dict val="com.albedo.java.modules.sys.domain.Org" name="Org"/>-->
		<!--		<dict val="com.albedo.java.modules.sys.domain.Area" name="Area"/>-->
		<!--		<dict val="This" name="ThisObj" description="生成当前对象"/>-->
		<dict val="Custom" name="Custom" description="自定义对象，生成后手动设置"/>
	</javaType>
	<!-- 查询类型 -->
	<queryType>
		<dict val="eq" name="="/>
		<dict val="ne" name="!="/>
		<dict val="gt" name="&gt;"/>
		<dict val="ge" name="&gt;="/>
		<dict val="lt" name="&lt;"/>
		<dict val="le" name="&lt;="/>
		<dict val="like" name="like"/>
		<dict val="likeLeft" name="likeLeft"/>
		<dict val="likeRight" name="likeRight"/>
		<dict val="notLike" name="notLike"/>
		<dict val="in" name="in"/>
		<dict val="notIn" name="notIn"/>
		<dict val="between" name="between"/>
	</queryType>
	<!-- 字段显示类型 -->
	<showType>
		<dict val="input" name="单行文本"/>
		<dict val="textarea" name="多行文本"/>
		<dict val="select" name="下拉选项"/>
		<dict val="radio" name="单选按钮"/>
		<dict val="checkbox" name="复选框"/>
		<dict val="dateselect" name="日期选择"/>
		<dict val="userselect" name="人员选择"/>
		<dict val="orgselect" name="部门选择"/>
		<dict val="areaselect" name="区域选择"/>
		<dict val="treeselect" name="树选择控件"/>
		<dict val="fileselect" name="文件上传选择"/>
	</showType>

	<viewType>
		<dict val="0" name="普通视图"/>
		<dict val="1" name="弹窗视图"/>
	</viewType>
</config>
