<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~  Copyright (c) 2019-2021, somewhere (somewhere0813@gmail.com).
  ~  <p>
  ~  Licensed under the GNU Lesser General Public License 3.0 (the "License");
  ~  you may not use this file except in compliance with the License.
  ~  You may obtain a copy of the License at
  ~  <p>
  ~ https://www.gnu.org/licenses/lgpl.html
  ~  <p>
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.albedo.java.modules.sys.repository.MenuRepository">

	<!-- 通用查询映射结果 -->
	<resultMap id="MenuVoResultMap" type="com.albedo.java.modules.sys.domain.vo.MenuVo">
		<id column="id" property="id"/>
		<result column="name" property="name"/>
		<result column="permission" property="permission"/>
		<result column="parent_id" property="parentId"/>
		<result column="icon" property="icon"/>
		<result column="path" property="path"/>
		<result column="component" property="component"/>
		<result column="sort" property="sort"/>
		<result column="hidden" property="hidden"/>
		<result column="cache" property="cache"/>
		<result column="iframe" property="iframe"/>
		<result column="type" property="type"/>
		<result column="created_by" property="createdBy"/>
		<result column="created_date" property="createdDate"/>
		<result column="last_modified_by" property="lastModifiedBy"/>
		<result column="last_modified_date" property="lastModifiedDate"/>
		<result column="description" property="description"/>
		<result column="version" property="version"/>
		<result column="del_flag" property="delFlag"/>
	</resultMap>
	<select id="findMenuVoAllList" resultMap="MenuVoResultMap">
		SELECT *
		FROM sys_menu
		WHERE del_flag = 0
		ORDER BY `sort` DESC
	</select>
	<!--通过角色查询菜单信息-->
	<select id="findMenuVoListByRoleId" resultMap="MenuVoResultMap">
		SELECT a.*
		FROM sys_menu a
				 LEFT JOIN sys_role_menu b ON a.id = b.menu_id
		WHERE a.del_flag = 0
		  AND b.role_id = #{roleId}
		ORDER BY a.sort DESC
	</select>

	<!--通过角色ID 查询权限-->
	<select id="findPermissionsByRoleIds" resultType="java.lang.String">
		SELECT m.permission
		FROM sys_menu m,
			 sys_role_menu rm
		WHERE m.menu_id = rm.menu_id
		  AND m.del_flag = 0
		  AND rm.role_id IN (#{roleIds})
	</select>

</mapper>
