<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~  Copyright (c) 2019-2020, somewhere (somewhere0813@gmail.com).
  ~  <p>
  ~  Licensed under the GNU Lesser General Public License 3.0 (the "License");
  ~  you may not use this file except in compliance with the License.
  ~  You may obtain a copy of the License at
  ~  <p>
  ~ https://www.gnu.org/licenses/lgpl.html
  ~  <p>
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.albedo.java.modules.sys.repository.UserRepository">
	<!-- 通用查询映射结果 -->
	<resultMap id="userVoPageResultMap" type="com.albedo.java.modules.sys.domain.vo.UserVo">
		<id column="id" property="id"/>
		<result column="username" property="username"/>
		<result column="password" property="password"/>
		<result column="salt" property="salt"/>
		<result column="phone" property="phone"/>
		<result column="email" property="email"/>
		<result column="avatar" property="avatar"/>
		<result column="wx_open_id" property="wxOpenId"/>
		<result column="qq_open_id" property="qqOpenId"/>
		<result column="available" property="available"/>
		<result column="created_by" property="createdBy"/>
		<result column="created_date" property="createdDate"/>
		<result column="last_modified_by" property="lastModifiedBy"/>
		<result column="last_modified_date" property="lastModifiedDate"/>
		<result column="description" property="description"/>
		<result column="version" property="version"/>
		<result column="del_flag" property="delFlag"/>
		<result column="deptId" property="deptId"/>
		<result column="deptName" property="deptName"/>
		<collection property="roleList" ofType="com.albedo.java.modules.sys.domain.Role"
					select="com.albedo.java.modules.sys.repository.RoleRepository.findRolesByUserIdList" column="id">
		</collection>
	</resultMap>

	<!-- userVo结果集 -->
	<resultMap id="userVoResultMap" type="com.albedo.java.modules.sys.domain.vo.UserVo">
		<id column="id" property="id"/>
		<result column="username" property="username"/>
		<result column="password" property="password"/>
		<result column="salt" property="salt"/>
		<result column="phone" property="phone"/>
		<result column="email" property="email"/>
		<result column="avatar" property="avatar"/>
		<result column="wx_open_id" property="wxOpenId"/>
		<result column="qq_open_id" property="qqOpenId"/>
		<result column="available" property="available"/>
		<result column="created_by" property="createdBy"/>
		<result column="created_date" property="createdDate"/>
		<result column="last_modified_by" property="lastModifiedBy"/>
		<result column="last_modified_date" property="lastModifiedDate"/>
		<result column="description" property="description"/>
		<result column="version" property="version"/>
		<result column="del_flag" property="delFlag"/>
		<result column="deptId" property="deptId"/>
		<result column="parentDeptId" property="parentDeptId"/>
		<result column="deptName" property="deptName"/>
		<collection property="roleList" ofType="com.albedo.java.modules.sys.domain.Role">
			<id column="role_id" property="id"/>
			<result column="role_name" property="name"/>
			<result column="role_data_scope" property="dataScope"/>
			<result column="role_code" property="code"/>
			<result column="role_remark" property="remark"/>
			<result column="role_created_by" property="createdBy"/>
			<result column="role_created_date" property="createdDate"/>
			<result column="role_last_modified_by" property="lastModifiedBy"/>
			<result column="role_last_modified_date" property="lastModifiedDate"/>
			<result column="role_description" property="description"/>
			<result column="role_version" property="version"/>
			<result column="role_del_flag" property="delFlag"/>
		</collection>
	</resultMap>

	<sql id="userRoleDeptSql">
		a.id,
		a.username,
		a.`password`,
		a.salt,
		a.phone,
		a.email,
		a.avatar,
		a.wx_open_id,
		a.qq_open_id,
		a.created_by,
		a.created_date,
		a.last_modified_by,
		a.last_modified_date,
		a.description,
		a.version,
		a.del_flag,
		a.available AS available,
		r.id AS role_id,
		r.name AS role_name,
		r.code AS role_code,
		r.data_scope AS role_data_scope,
		r.remark AS role_remark,
		r.created_by AS role_created_by,
		r.created_date AS role_created_date,
		r.last_modified_by AS role_last_modified_by,
		r.last_modified_date AS role_last_modified_date,
		r.description AS role_description,
		r.version AS role_version,
		r.del_flag AS role_del_flag,
		d.name AS deptName,
		d.id AS deptId,
		d.parent_id AS parentDeptId
    </sql>

	<select id="getUserVoByUsername" resultMap="userVoResultMap">
		SELECT
		<include refid="userRoleDeptSql"/>
		FROM
		sys_user AS a
		LEFT JOIN sys_user_role AS ur ON ur.user_id = a.id
		LEFT JOIN sys_role AS r ON r.id = ur.role_id
		LEFT JOIN sys_dept AS d ON d.id = a.dept_id
		WHERE a.username = #{username} and a.del_flag='0'
	</select>

	<select id="getUserVoById" resultMap="userVoResultMap">
		SELECT
		<include refid="userRoleDeptSql"/>
		FROM
		sys_user AS a
		LEFT JOIN sys_user_role AS ur ON ur.user_id = a.id
		LEFT JOIN sys_role AS r ON r.id = ur.role_id
		LEFT JOIN sys_dept AS d ON d.id = a.dept_id
		WHERE
		a.id = #{id} and a.del_flag='0'
	</select>

	<select id="getUserVoPage" resultMap="userVoPageResultMap">
		SELECT
		a.id,
		a.username,
		a.`password`,
		a.salt,
		a.phone,
		a.email,
		a.avatar,
		a.wx_open_id,
		a.qq_open_id,
		a.dept_id,
		a.created_by,
		a.created_date,
		a.last_modified_by,
		a.last_modified_date,
		a.description,
		a.version,
		a.del_flag,
		a.available AS available,
		a.dept_id AS deptId,
		d.name AS deptName
		FROM
		sys_user AS a
		LEFT JOIN sys_dept AS d ON d.id = a.dept_id
		<where>
			${ew.sqlSegment}
		</where>
	</select>
</mapper>
