<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
				http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
				http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd"
       default-lazy-init="false">

    <!-- zookeeper -->
    <bean id="thriftZookeeper" class="com.albedo.java.thrift.rpc.common.zookeeper.ZookeeperFactory"
          destroy-method="close">
        <property name="zkHosts" value="localhost:2181,localhost:2182,localhost:2183" />
        <property name="namespace" value="com.albedo.java.thrift.rpc.common.demo" />
        <property name="connectionTimeout" value="3000" />
        <property name="sessionTimeout" value="3000" />
        <property name="singleton" value="true" />
    </bean>
    <bean id="sericeAddressRegister" class="com.albedo.java.thrift.rpc.common.zookeeper.ThriftServerAddressRegisterZookeeper"
          destroy-method="close">
        <property name="zkClient" ref="thriftZookeeper" />
    </bean>
    <bean id="echoSerivceImpl" class="com.albedo.java.thrift.com.albedo.java.thrift.rpc.server.demo.EchoSerivceImpl" />

    <bean id="echoSerivce" class="com.albedo.java.thrift.rpc.server.ThriftServiceServerFactory" destroy-method="close">
        <property name="service" ref="echoSerivceImpl" />
        <property name="port" value="9000" />
        <property name="version" value="1.0.0" />
        <property name="weight" value="1" />
        <property name="thriftServerAddressRegister" ref="sericeAddressRegister" />
    </bean>

    <bean id="echoSerivce1" class="com.albedo.java.thrift.rpc.server.ThriftServiceServerFactory" destroy-method="close">
        <property name="service" ref="echoSerivceImpl" />
        <property name="port" value="9001" />
        <property name="version" value="1.0.0" />
        <property name="weight" value="1" />
        <property name="thriftServerAddressRegister" ref="sericeAddressRegister" />
    </bean>

    <bean id="echoSerivce2" class="com.albedo.java.thrift.rpc.server.ThriftServiceServerFactory" destroy-method="close">
        <property name="service" ref="echoSerivceImpl" />
        <property name="port" value="9002" />
        <property name="version" value="1.0.0" />
        <property name="weight" value="1" />
        <property name="thriftServerAddressRegister" ref="sericeAddressRegister" />
    </bean>
</beans>