<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.albedo.java.modules.tenant.repository.TenantRepository">

    <select id="getByCode" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="Base_Column_List"/>
        from c_tenant where code = #{code}
    </select>


</mapper>
